<div id="carouselMoviesCaptions" class="carousel slide">
    <div class="carousel-inner">
        @for (movie of movies; track $index) {
            @if ($index == 0) {
                <div class="carousel-item active">
                    <div class="d-flex flex-direction-row bg-dark px-5 py-5 align-items-center justify-content-around">
                        <img [src]="movie.banner" class="w-50" alt="...">
                        <p class="text-white ms-5 text-lg">{{ movie.description }}</p>
                    </div>
                </div>
            }@else {
                <div class="carousel-item">
                    <div class="d-flex flex-direction-row bg-dark px-5 py-5 align-items-center justify-content-around">
                        <img [src]="movie.banner" class="w-50" alt="...">
                        <p class="text-white ms-5 text-lg">{{ movie.description }}</p>
                    </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMoviesCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMoviesCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>